<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super sej hjemmeside</title>
</head>
<body>
    <div>
        <h1>Post User to API</h1>
        <form id="form" method="post" >
            <input type="text" id="email" placeholder="email"/>
            <input type="text" id="password" placeholder="Password"/>
            <button type="submit" name="Submit"> Post user</button>
        </form>
    </div>
    <div>
        <h1>Get user by name</h1>
        <button type="button" id="getUsers">Get User</button>
    </div>
    
</body>
<script src="./js/login.js"> </script>

</html>
