<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super sej hjemmeside</title>
</head>
<body>
    <div>
        <h1>Post User to API</h1>
        <form id="form" method="post" action="http://localhost:7071/api/register2">
            <input type="text" id="firstName" placeholder="First name"/>
            <input type="text" id="lastName" placeholder="Last name"/>
            <input type="text" id="gender" placeholder="Gender"/>
            <input type="text" id="email" placeholder="your@mail.com"/>
            <input type="text" id="password" placeholder="Password"/>
            <input type="num" id="age" placeholder="Age"/>
            <input type="text" id="hotel" placeholder="Hotel"/>
            <input type="text" id="preferredGender" placeholder="preferredGender"/>
            <button type="submit" name="Submit"> Post user</button>
        </form>
    </div>
    <div>
        <h1>Get user by name</h1>
        <button type="button" id="getUsers">Get User</button>
    </div>
    <script src="/views/js/register.js"></script>
</body>
<script type="text/javascript" src="./js/register.js"> </script>

</html>
